<!DOCTYPE HTML>
<!--
	Typify by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Typify by TEMPLATED</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="stylesheets/main.css" />
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<script src = 'javascripts/listener.js'></script>
		<script src="javascripts/skel.min.js"></script>
		<script src="javascripts/util.js"></script>
		<script src="javascripts/main.js"></script>
	</head>
	<body>
		<div>
		<%
			if(loginState) {
		%>
				<button id = 'logoutBtn'>LOG OUT</button>
				<a href = '/user_info'><button>My Page</button></a>
				<button id = 'loginToolbar'><%= loginID %>님 환영합니다. </button>
				<h2>Welcome To CarChain</h2>
		<%
			} else {
		%>
				<div>
					<h2 style = 'margin-top: 2em'>Welcome To CarChain</h2>
				</div>
		<%
			}
		%>
			
		</div>
		<section id = "menu" class = 'wrapper special'>
			<div>
				<a href = '/'><button>HOME</button></a>
				<a href = '/signup'><button>SIGN UP</button></a>
				<a href = '/login'><button>LOGIN</button></a>
				<a href = '/reservation'><button>RESERVATION</button></a>
			</div>
		</section>

		<%
			if(!loginState) {
		%>
				<section class = "wrapper style2 special">
					<div class = "inner narrow">
						<span>회원 가입 or 로그인을 하시기 바랍니다. </span>
					</div>
				</section>
		<%
			}
		%>
		<!-- Footer -->
		<footer id = "footer">
			<div class = "copyright">
			&copy; Untitled. Design: <a href = "http://templated.co/">TEMPLATED</a>.
			</div>
		</footer>
	</body>
</html>