<!DOCTYPE html>
<html>
    <head>
        <title>Typify by TEMPLATED</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="stylesheets/main.css" />
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<script src = 'javascripts/listener.js'></script>
		<script src="javascripts/skel.min.js"></script>
		<script src="javascripts/util.js"></script>
        <script src="javascripts/main.js"></script>
        <style>
            table {
                border: 1px solid;
            }

            tr, td {
                border: 1px solid;
            }
        </style>
    </head>

    <body>
        <br>
        
        <input type = 'password' id = 'checkPW'>
        <div id = 'checkDiv' align = center>
            <button id = 'checkBtn'>Check</button>
        </div>
        <table>
            <tr>
                <td>회원가입 아이디</td>
                <td id = 'userIDVal'><input>aaaa</td>
                <!-- 변경 불가 ID -->
            </tr>
            <tr>
                <td>Password</td>
                <td id = 'userPWVal'></td>
                <!-- 변경 가능 PW -->
            </tr>
            <tr>
                <td>이름</td>
                <td id = 'userNameVal'></td>
                <!-- 변경 가능 이름 -->
            </tr>
            <tr>
                <td>Phone Number</td>
                <td id = 'userPhoneVal'></td>
                <!-- 변경 가능 폰번호 -->
            </tr>
            <tr>
                <td>Email</td>
                <td id = 'userEmailVal'></td>
                <!-- 변경 가능 Email -->
            </tr>
        </table>
    </body>
</html>